<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Chassis</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>UUID</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody ng-if="ctrl.chassis.$resolved && ctrl.chassis.length > 0">
                <tr ng-repeat="chassi in ctrl.chassis">
                    <td>{{chassi.uuid}}</td>
                    <td>{{chassi.description}}</td>
                </tr>
                </tbody>
                <tbody ng-if="ctrl.chassis.$resolved && ctrl.chassis.length == 0">
                <tr>
                    <td colspan="2" class="text-center text-muted">
                        <small><em>No chassis were found.</em></small>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="!ctrl.chassis.$resolved">
                <tr>
                    <td colspan="2" class="text-center text-muted">
                        <i class="fa fa-refresh fa-spin"></i>
                        Loading chassis...
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
