@font-face {
    font-family: "ironic";
    src: url('../fonts/ironic.eot');
    src: url('../fonts/ironic.eot?#iefix') format('eot'),
    url('../fonts/ironic.woff') format('woff'),
    url('../fonts/ironic.ttf') format('truetype'),
    url('../fonts/ironic.svg#ironic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.if:before {
                     display: inline-block;
                     font-family: "ironic";
                     font-style: normal;
                     font-weight: normal;
                     line-height: 1;
                     -webkit-font-smoothing: antialiased;
                     -moz-osx-font-smoothing: grayscale;
                 }

.if-lg {
                     font-size: 1.3333333333333333em;
                     line-height: 0.75em;
                     vertical-align: -15%;
                 }
.if-2x { font-size: 2em; }
.if-3x { font-size: 3em; }
.if-4x { font-size: 4em; }
.if-5x { font-size: 5em; }
.if-fw {
                     width: 1.2857142857142858em;
                     text-align: center;
                 }

.if-bearmetal:before { content: "\E001" }