<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Drivers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Hosts</th>
                </tr>
                </thead>
                <tbody ng-if="drivers.$resolved && drivers.length > 0">
                <tr ng-repeat="driver in drivers">
                    <td>{{driver.name}}</td>
                    <td>{{driver.hosts.join(', ') || 'No Hosts Found'}}</td>
                </tr>
                </tbody>
                <tbody ng-if="drivers.$resolved && drivers.length == 0">
                <tr>
                    <td colspan="2" class="text-center text-muted">
                        <small><em>No drivers were found.</em></small>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="!drivers.$resolved">
                <tr>
                    <td colspan="2" class="text-center text-muted">
                        <i class="fa fa-refresh fa-spin"></i>
                        Loading drivers...
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>