<div class="col-xs-12">
  <table class="table-condensed table table-bordered col-xs-12">
    <tbody ng-if="nodeCtrl.node && nodeCtrl.node.$resolved">
    <tr ng-repeat="(key, value) in nodeCtrl.node">
      <th>{{key}}</th>
      <td>{{value}}</td>
    </tr>
    </tbody>

    <tbody ng-if="nodeCtrl.node && !nodeCtrl.node.$resolved">
    <tr>
      <td class="text-center">
        <i class="fa fa-spin fa-refresh"></i>
      </td>
    </tr>
    </tbody>

    <tbody ng-if="nodeCtrl.errorMessage">
    <tr>
      <td class="text-center text-danger">
        <strong>Error:</strong>
        ({{nodeCtrl.errorMessage.faultcode}})
        {{nodeCtrl.errorMessage.faultstring}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
