<div class="col-xs-12">
  <br/>

  <div ng-repeat="port in portCtrl.ports"
       ng-if="portCtrl.ports && portCtrl.ports.$resolved && portCtrl.ports.length > 0">
    <h3>Port: {{port.uuid}}</h3>
    <table class="table-condensed table table-bordered">
      <tr ng-repeat="(key, value) in port">
        <th>{{key}}</th>
        <td>{{value}}</td>
      </tr>
    </table>
  </div>

  <div ng-if="portCtrl.ports && portCtrl.ports.$resolved && portCtrl.ports.length == 0">
    <p class="text-center">
      This node has no ports.
    </p>
  </div>

  <div ng-if="portCtrl.ports && !portCtrl.ports.$resolved">
    <p class="text-center">
      <i class="fa fa-spin fa-refresh"></i>
    </p>
  </div>

  <div ng-if="portCtrl.errorMessage">
    <p class="text-center text-danger">
      <strong>Error:</strong>
      ({{portCtrl.errorMessage.faultcode}})
      {{portCtrl.errorMessage.faultstring}}
    </p>
  </div>
</div>
