<div class="container-fluid"
     ng-if="!nodeCtrl.errorMessage">
  <div class="row">
    <div class="col-xs-12">
      <h1>Node: {{nodeCtrl.node.name || nodeCtrl.node.uuid}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li active-path="^\/ironic\/nodes\/.*\/node$">
          <a href="#/ironic/nodes/{{nodeCtrl.node.uuid}}/node">Node</a>
        </li>
        <li active-path="^\/ironic\/nodes\/.*\/ports$">
          <a href="#/ironic/nodes/{{nodeCtrl.node.uuid}}/ports">Ports</a>
        </li>
        <li active-path="^\/ironic\/nodes\/.*\/driver$">
          <a href="#/ironic/nodes/{{nodeCtrl.node.uuid}}/driver">Driver</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" ui-view>
  </div>
</div>

<div class="container-fluid"
  ng-if="nodeCtrl.errorMessage">
  <div class="row">
    <div class="col-xs-13">
      <h2 class="text-center text-danger">Error:
        ({{nodeCtrl.errorMessage.faultcode}})
        {{nodeCtrl.errorMessage.faultstring}}
      </h2>
    </div>
  </div>
</div>
