<div class="col-xs-12">
  <table class="table-condensed table table-bordered col-xs-12">
    <tbody ng-if="driverCtrl.driver && driverCtrl.driver.$resolved">
    <tr ng-repeat="(key, value) in driverCtrl.driver">
      <th>{{key}}</th>
      <td>{{value}}</td>
    </tr>
    </tbody>

    <tbody ng-if="driverCtrl.driver && !driverCtrl.driver.$resolved">
    <tr>
      <td class="text-center">
        <i class="fa fa-spin fa-refresh"></i>
      </td>
    </tr>
    </tbody>

    <tbody ng-if="driverCtrl.errorMessage">
    <tr>
      <td class="text-center text-danger">
        <strong>Error:</strong>
        ({{driverCtrl.errorMessage.faultcode}})
        {{driverCtrl.errorMessage.faultstring}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
