<div class="row">
  <div class="col-xs-12">
    <h1>Driver List</h1>
  </div>
</div>
<div class="row padding-top">
  <div class="col-xs-12">
    <button type="button" class="btn btn-default"
            ng-disabled="!driverListCtrl.drivers.$resolved"
            ng-click="driverListCtrl.init()">
      Refresh
    </button>
  </div>
</div>
<div class="row padding-top">
  <div class="col-xs-12">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Related Nodes</th>
      </tr>
      </thead>
      <tbody ng-if="driverListCtrl.drivers.$resolved && driverListCtrl.drivers.length > 0">
      <tr ng-repeat="driver in driverListCtrl.drivers"
          ng-class="{'info': driverListCtrl.selectedDrivers.indexOf(driver.uuid) > -1}">
        <td>{{driver.name || 'Unnamed'}}</td>
        <td>
          <a href="">View</a>
        </td>
      </tr>
      </tbody>
      <tbody ng-if="driverListCtrl.drivers.$resolved && driverListCtrl.drivers.length == 0">
      <tr>
        <td colspan="7" class="text-center text-muted">
          <small><em>No drivers were found.</em></small>
        </td>
      </tr>
      </tbody>
      <tbody ng-if="!driverListCtrl.drivers.$resolved">
      <tr>
        <td colspan="7" class="text-center text-muted">
          <i class="fa fa-refresh fa-spin"></i>
          Loading drivers...
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
