<div class="row">
  <div class="navbar-header col-lg-3 col-xs-2">
    <a class="navbar-brand text-nowrap"
       href="#/ironic"
       active-path="^\/ironic$">
      <i class="of of-openstack"></i>
      <span class="hidden-sm hidden-md hidden-xs">OpenStack</span>
      Bare Metal
    </a>
  </div>
  <ul class="nav navbar-nav col-xs-2">
    <li uib-dropdown is-open="status.isopen">
      <a href="#"
         uib-dropdown-toggle
         data-toggle="dropdown"
         class="text-nowrap">
        {{headerCtrl.currentConfiguration.name}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Switch to...</li>
        <li ng-repeat="cloud in headerCtrl.configurations">
          <a href="#"
             ng-click="headerCtrl.switchCloud(cloud)">
            <i class="fa fa-cloud"></i>&nbsp;
            {{cloud.name}}
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#/config" class="text-muted">
            <i class="fa fa-gear"></i>
            Manage
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="nav navbar-form-grid col-lg-7 col-xs-8">
      <div class="col-xs-9 col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="Search"
               disabled/>
      </div>
      <button type="submit" class="btn btn-default-gradient col-xs-3 col-sm-2" disabled>
        Submit
      </button>
  </div>
</div>
