<div class="row" ng-controller="NodeActionController as ctrl">
  <div class="col-xs-6">
    <div class="btn-group btn-group-lg">
      <button type="button"
              active-path="\/ironic\/nodes\/?.*"
              ui-sref="root.ironic.nodes"
              class="btn btn-default">Nodes</button>
      <button type="button"
              ui-sref="root.ironic.drivers"
              active-path="\/ironic\/drivers\/?.*"
              class="btn btn-default">Drivers</button>
    </div>
  </div>
  <div class="col-xs-6">
    <button ng-click="ctrl.enroll()"
            class="btn btn-primary btn-lg pull-right">
      <i class="fa fa-plus"></i> Node
    </button>
  </div>
</div>
<div ui-view="main">
</div>
