<div class="row">
  <div class="col-xs-12">
    <button ng-click="nodeListCtrl.enroll()" class="btn btn-default pull-right-bottom">
      <i class="fa fa-gear"></i>
      Enroll Node
    </button>
    <h1>Nodes</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Power State</th>
        <th>Name (UUID)</th>
        <th>Instance</th>
        <th>Provision State</th>
        <th>Maintenance</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody ng-if="nodeListCtrl.nodes.$resolved && nodeListCtrl.nodes.length > 0">
      <tr ng-repeat="node in nodeListCtrl.nodes"
          ng-controller="NodeActionController as nodeCtrl"
          ng-init="nodeCtrl.init(node)">
        <td>{{nodeCtrl.node.power_state}}</td>
        <td>
          <a href="#/ironic/nodes/{{nodeCtrl.node.uuid}}/node">
            {{nodeCtrl.node.name || nodeCtrl.node.uuid}}
          </a>
        </td>
        <td>{{nodeCtrl.node.instance_uuid || 'None'}}</td>
        <td>{{nodeCtrl.node.provision_state}}</td>
        <td>{{nodeCtrl.node.maintenance}}</td>
        <td>
          <div class="btn-group btn-group-sm pull-right" role="group">
            <button type="button" class="btn btn-default"
                    ng-repeat="action in nodeCtrl.actions"
                    ng-click="nodeCtrl.performAction(action.event)">
              {{action.event}}
            </button>
            <button type="button" class="btn btn-danger"
                    ng-click="nodeCtrl.remove().then(nodeListCtrl.loadNodes)">
              &times;
            </button>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody ng-if="nodeListCtrl.nodes.$resolved && nodeListCtrl.nodes.length == 0">
      <tr>
        <td colspan="6" class="text-center text-muted">
          <small><em>No nodes were found.</em></small>
        </td>
      </tr>
      </tbody>
      <tbody ng-if="!nodeListCtrl.nodes.$resolved">
      <tr>
        <td colspan="6" class="text-center text-muted">
          <i class="fa fa-refresh fa-spin"></i>
          Loading nodes...
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
