<div class="row padding-top">
  <div class="col-xs-12">
    <div class="btn-group" uib-dropdown>
      <button type="button" class="btn btn-default" disabled>Power On</button>
      <button type="button" class="btn btn-default" uib-dropdown-toggle disabled>
        <i class="caret"></i>
      </button>
      <ul uib-dropdown-menu>
      </ul>
    </div>
    <button type="button" class="btn btn-default" disabled>Reboot</button>
    <button type="button" class="btn btn-default"
            ng-disabled="!nodeListCtrl.nodes.$resolved"
            ng-click="nodeListCtrl.loadNodes()">
      Refresh
    </button>
  </div>
</div>
<div class="row padding-top">
  <div class="col-xs-12">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
      <tr>
        <th><input type="checkbox"
                   ng-model="nodeListCtrl.selectAll"
                   ng-change="nodeListCtrl.toggleSelectAll(nodeListCtrl.selectAll)"
                   ng-if="nodeListCtrl.nodes.length > 0"
        /></th>
        <th>UUID</th>
        <th>Name</th>
        <th>Instance</th>
        <th>Provision State</th>
        <th>Maintenance</th>
        <th>Power</th>
      </tr>
      </thead>
      <tbody ng-if="nodeListCtrl.nodes.$resolved && nodeListCtrl.nodes.length > 0">
      <tr ng-repeat="node in nodeListCtrl.nodes"
          ng-controller="NodeActionController as nodeCtrl"
          ng-init="nodeCtrl.init(node)">
        <td>
          <input type="checkbox"
                 checklist-model="nodeListCtrl.selectedNodes"
                 checklist-value="node.uuid"/>
        </td>
        <td><a href="#/ironic/nodes/{{nodeCtrl.node.uuid}}/node">{{nodeCtrl.node.uuid}}</a></td>
        <td>{{nodeCtrl.node.name || 'Unnamed'}}</td>
        <td>{{nodeCtrl.node.instance_uuid || 'None'}}</td>
        <td>{{nodeCtrl.node.provision_state}}</td>
        <td>{{nodeCtrl.node.maintenance ? 'True' : 'False'}}</td>
        <td>{{nodeCtrl.node.power_state || 'Unknown'}}</td>
      </tr>
      </tbody>
      <tbody ng-if="nodeListCtrl.nodes.$resolved && nodeListCtrl.nodes.length == 0">
      <tr>
        <td colspan="7" class="text-center text-muted">
          <small><em>No nodes were found.</em></small>
        </td>
      </tr>
      </tbody>
      <tbody ng-if="!nodeListCtrl.nodes.$resolved">
      <tr>
        <td colspan="7" class="text-center text-muted">
          <i class="fa fa-refresh fa-spin"></i>
          Loading nodes...
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
