<div class="modal-header">
  <button type="button"
          class="close"
          ng-disabled="ctrl.deleting"
          ng-click="ctrl.close()">&times;</button>
  <h3 class="panel-title">Remove Nodes</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger">
        <span class="fa fa-exclamation-circle"></span>
        You are about to remove the following nodes.
      </div>
      <dl class="dl-horizontal">
        <dt ng-repeat-start="e in ctrl.nodes"
            ng-switch="e.state">
        <div ng-switch-when="removing" class="text-warning">
          <i class="fa fa-spin fa-refresh"></i> Removing...
        </div>
        <div ng-switch-when="removed" class="text-muted">
          Removed:
        </div>
        <div ng-switch-when="error" class="text-danger">
          <i class="fa fa-exclamation-triangle"></i> Error:
        </div>
        <div ng-switch-default>
          Node:
        </div>
        </dt>
        <dd ng-repeat-end>
          {{e.node.uuid}}
          <span ng-if="e.node.name">({{e.node.name}})</span>
          <span class="text-danger" ng-if="e.error"><br/>
            {{e.error.faultcode}}: {{e.error.faultstring}}
          </span>
        </dd>
      </dl>
      This will remove all knowledge of the nodes from the system. It will not modify the nodes,
      however you will lose the ability to manage them via this application.
    </div>
  </div>
</div>
<div class="modal-footer ng-scope">
  <p class="text-danger" ng-if="!!ctrl.error_message">{{ctrl.error_message}}</p>
  <button class="btn btn-danger" ng-click="ctrl.remove()"
          ng-disabled="ctrl.deleting">Remove
  </button>
  <button class="btn btn-default" ng-click="ctrl.close()"
          ng-disabled="ctrl.deleting">Cancel
  </button>
</div>
